body {
    margin: 0;
    padding: 0;
    background:  gray;
}
header {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background:  #404040;
    position:fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logoslogan {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: flex-start;
    align-items: center
}
#logo img{
    height: 80px;
}
h1 {
    font-family: 'Emilys Candy', cursive;
    font-size: 20px;
    color: white;
    font-weight: 500;
    line-height: 3;
    margin-left: 10px;
}
.navbar{
    display: flex;
    flex-direction: row;
}
h2 {
    font-family: 'Montagu Slab';
    font-size: 20px;
    font-weight: 900;
    color: white;
    margin-right: 30px;
}
h3{
    font-family: 'Montagu Slab';
    font-size: 20px;
    color: white;
    margin-right: 30px;  
}
#image-banner img{
    width: 100%;
}
.introduction {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20%;
    padding-right: 20%;
}
p{
    font-family: 'Lemonada';
    font-size: 15px;
    font-weight: 500;
    color: white;
}
.pictures {
    padding-bottom: 30px;
    padding-left: 20%;
    padding-right: 20%;
}
#store img{
    width: 100%;
}
.review {
    padding-bottom: 30px;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
}
.review-content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.container{
    padding-top: 120px;
    padding-bottom: 30px;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap-reverse;

}
.subcontainer{
    width: 25%;
    object-fit: cover;
}
#menubutton{
    text-decoration: none;
    color: white;
}
#menubutton:hover{
    color: white;
    text-decoration: underline;
}
#menubutton:after{
    color: white;
    text-decoration: none;
}
