body {
    margin: 0;
    padding: 0;
    background:  gray;
}
header {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background:  #404040;
    position:fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logoslogan {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: flex-start;
    align-items: center
}
#logo img{
    height: 80px;
}
h1 {
    font-family: 'Emilys Candy', cursive;
    font-size: 20px;
    color: white;
    font-weight: 500;
    line-height: 3;
    margin-left: 10px;
}
.navbar{
    display: flex;
    flex-direction: row;
}
h2 {
    font-family: 'Montagu Slab';
    font-size: 20px;
    font-weight: 900;
    color: white;
    margin-right: 30px;
}
h3 {
    font-family: 'Montagu Slab';
    font-size: 15px;
    font-weight: 900;
    color: #404040;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 0px;
}
p{
    font-family: 'Lemonada';
    font-size: 15px;
    font-weight: 500;
    color: #404040;
    margin-left: 20px;
    margin-bottom: 0px;
}
.container1{
    padding-top: 120px;
    padding-bottom: 30px;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subcontainer{
    width: 30%;
    background: white;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}
.container2{
    padding-bottom: 30px;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#menubutton{
    text-decoration:red;
}